name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install compilers (Linux & Windows)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y g++ cmake \
              mingw-w64

      - name: Install CMake (macOS)
        if: runner.os == 'macOS'
        run: brew install cmake

      - name: Setup environment
        run: |
          mkdir -p build
          for dir in */ ; do
            if [ -f "$dir/main.cpp" ]; then
              echo "Found project: $dir"
              mkdir -p "build/$dir"
            fi
          done
        shell: bash

      - name: Build binaries (Linux & MacOS)
        run: |
          for dir in */ ; do
            if [ -f "$dir/main.cpp" ]; then
              echo "Compiling $dir for ${{ matrix.os }}"
              g++ "$dir/main.cpp" -std=c++17 -o "build/$dir/${{ matrix.os }}-$(basename $dir)"
            fi
          done
        shell: bash

      - name: Build binaries (Windows)
        if: runner.os == 'Linux'
        run: |
          for dir in */ ; do
            if [ -f "$dir/main.cpp" ]; then
              echo "Compiling $dir for Windows (MinGW)"
              x86_64-w64-mingw32-g++ "$dir/main.cpp" -std=c++17 \
                 -static -static-libgcc -static-libstdc++ \
                 -o "build/$dir/windows-$(basename $dir).exe"
            fi
          done
        shell: bash

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: binaries-${{ matrix.os }}
          path: build/**/*
          retention-days: 1

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: build

      - name: Get date
        id: get_date
        run: echo "DATE=$(date +%Y%m%d)" >> $GITHUB_ENV

      - name: Pack executables
        run: |
          mkdir -p release
          for os_dir in build/*; do
            os_name=$(basename "$os_dir")
            for dir in "$os_dir"/*; do
              if [ -d "$dir" ]; then
                zip -j "release/$(basename $dir)-$os_name.zip" "$dir"/*
              fi
            done
          done

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: release/*.zip
          name: "${{ env.DATE }}-Perciabcosco"
          tag_name: "${{ env.DATE }}-Perciabcosco"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
